@page
@model CreateNewUserAccountModel
@{
    ViewData["Title"] = "CreateNewUserAccount";
}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="login.html"> Login</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New User</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="max-width:40%">
                <div class="card-header bg-primary text-white">
                    <i class="fa fa-envelope"></i> Create User
                </div>
                <div class="card-body">
                    <form asp-page-handler="AddUser" method="post">
                        <div class="form-group">
                            <label for="@nameof(Model.user.Name)">Name</label>
                            <input asp-for="user.Name" class="form-control" placeholder="Enter Name" />
                            <span asp-validation-for="user.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="@nameof(Model.user.EmailAddress)">Email Address</label>
                            <input asp-for="user.EmailAddress" class="form-control" placeholder="Enter the Email Address">
                            <span asp-validation-for="user.EmailAddress" class="text-danger"></span>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="@nameof(Model.user.Address)">Address</label>
                            <textarea asp-for="user.Address" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="user.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="@nameof(Model.user.MobileNo)">MobileNo</label>
                            <input asp-for="user.MobileNo" class="form-control" placeholder="Enter mobile no.">
                            <span asp-validation-for="user.MobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="@nameof(Model.user.Password)">Password</label>
                            <input asp-for="user.Password" type="password" class="form-control" placeholder="Enter password">
                            <span asp-validation-for="user.Password" class="text-danger"></span>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Submit</button> Or 
                            <a class="" asp-area="" asp-page="/Login">Try to Login!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>